@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes snackbar-enter-animation {
   0% {
      opacity: 0;
      transform: translate(-200px, 0px);
   }
   100% {
      opacity: 1;
      transform: translate(0px, 0px);
   }
}

@keyframes snackbar-exit-animation {
   0% {
      opacity: 1;
      transform: translate(0px, 0px);
   }
   40% {
      transform: scale(0.7) translate(-70px, 20px);
   }
   100% {
      opacity: 1;
      transform: translate(-50px, 100%) scale(0.7);
   }
}
