:root {
   --border-radius: 13px;
   --bg-primary: #6366f1;
   --bg-primary-hover: #818cf8;
   --shadow-base: 0px 10px 36px 8px rgba(0, 0, 0, 0.2);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;
}

.animation-enter {
   opacity: 0;
}
.animation-exit {
   opacity: 1;
}
.animation-enter-active {
   opacity: 1;
}
.animation-exit-active {
   opacity: 0;
}
.animation-enter-active,
.animation-exit-active {
   transition: opacity 5000ms;
}
